ion-content {
  --background: url('https://media.istockphoto.com/id/523631979/es/vector/campo-de-f%C3%BAtbol-americano.jpg?s=612x612&w=0&k=20&c=6xOS_qm0ZSNv5NlOJ2QZkBv8cPIo6D_mCyctm_7bbbU=');
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-position: center;
}

.futbolista-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-card h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

ion-card p {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.futbolista-image {
  width: 250px; 
  height: 250px; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.futbolista-image:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {

  ion-card {
    background-color: #000000; /* Fondo negro para las tarjetas */
    color: #ffffff; /* Texto blanco */
    border: 1px solid #ffffff; /* Borde blanco opcional para contraste */
  }

  .futbolista-image {
    width: 120px; /* Tamaño más pequeño para móviles */
    height: 120px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
  }
}